<footer class="footer_content page_panel">
    <div class="footer-top" id="footer_top">
        <div class="container">
            <column class="position-display">
                <div>
                    <div>
                        <div class="row"><div class="return_cart"><div class="col-sm-4 col-md-4 col-lg-4">                     <div class="single-slider-promo">                         <div class="s-p-icon">                             <a href="http://05101.chilibusiness.net/#">                                 <i class="fa fa-truck"></i>                             </a>                         </div>                         <div class="s-p-text">                             <a href="http://05101.chilibusiness.net/#">Đổi trả hàng</a>                             <p>Đổi trả hàng nhanh chóng</p>                         </div>                     </div>	            </div>				<div class="col-sm-4 col-md-4 col-lg-4">                     <div class="single-slider-promo midexchange">                         <div class="s-p-icon">                             <a href="http://05101.chilibusiness.net/#">                                 <i class="fa fa-usd"></i>                             </a>                         </div>                         <div class="s-p-text">                             <a href="http://05101.chilibusiness.net/#">Vận chuyển miễn phí</a>                             <p>Miễn phí vận chuyển trong khu vực</p>                         </div>                     </div>	            </div>				<div class="col-sm-4 col-md-4 col-lg-4">                     <div class="single-slider-promo border-none">                         <div class="s-p-icon">                             <a href="http://05101.chilibusiness.net/#">                              <i class="fa fa-life-ring"></i>                             </a>                         </div>                         <div class="s-p-text">                             <a href="http://05101.chilibusiness.net/#">Giảm giá VIP</a>                             <p>VIP sẽ được giảm giá</p>                         </div>                     </div></div></div></div>
                    </div>
                </div>
                <div>
                    <div class="dv-builder-full">
                        <div class="dv-builder footer_cuoi ">
                            <div class="dv-module-content">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                        <div class="dv-item-module ">
                                            <div>
                                                <div class="single-footer-widget sfw-1"><div class="image_footer"><a href="http://05101.chilibusiness.net/"><img src="~/Scripts/Layout/logo-sachhay-footer.png" class="img-responsive"></a></div><div class="footer-address">									<p><i class="fa  fa-map-marker"></i> &nbsp; Địa chỉ: Số 123, Đường ABC, Quận ABC, Thành Phố ABC.</p><p><i class="fa fa-phone"></i> &nbsp; +84 123 456 789</p><p><i class="fa fa-fax"></i> &nbsp; +84 123 456 789</p><p><a href="mailto:taikhoan@tenmiencuaban.com"><i class="fa fa-envelope-o"></i> &nbsp; taikhoan@tenmiencuaban.com</a></p></div></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                        <div class="dv-item-module ">
                                            <div class="h-16">
                                                <div class="h2-left-cat">
                                                    <h2 class="left-crt-title"></h2>
                                                    <div class="h16-menu">
                                                        <nav>
                                                            <div class="left-cart-menu">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa "></i> <a href="javascript:void(0)"> Thông Tin </a> <span><i class="fa fa-caret-right"></i></span>
                                                                        <ul class="cat-sb">
                                                                            <li><a href="http://05101.chilibusiness.net/huong-dan.html">Hướng Dẫn</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/chinh-sach-rieng-tu.html">Chính sách riêng tư</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/thoa-thuan-su-dung.html">Thỏa thuận người dùng</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/dieu-khoan-su-dung.html">Điều khoản sử dụng</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/?route=information/sitemap">Sơ đồ trang</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                $(function () {
                                                    window.prettyPrint && prettyPrint()
                                                    $(document).on('click', '.navbar .dropdown-menu', function (e) {
                                                        e.stopPropagation()
                                                    })
                                                })
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                        <div class="dv-item-module ">
                                            <div class="h-16">
                                                <div class="h2-left-cat">
                                                    <h2 class="left-crt-title"></h2>
                                                    <div class="h16-menu">
                                                        <nav>
                                                            <div class="left-cart-menu">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa "></i> <a href="javascript:void(0)"> Khách Hàng </a> <span><i class="fa fa-caret-right"></i></span>
                                                                        <ul class="cat-sb">
                                                                            <li><a href="http://05101.chilibusiness.net/?route=product/manufacturer">Thương Hiệu</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/?route=account/voucher">Phiếu quà tặng</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/?route=affiliate/login">Bán hàng</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/?route=product/special">Khuyến Mãi</a></li>
                                                                            <li><a href="http://05101.chilibusiness.net/?route=account/return/add">Đổi/trả hàng</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                $(function () {
                                                    window.prettyPrint && prettyPrint()
                                                    $(document).on('click', '.navbar .dropdown-menu', function (e) {
                                                        e.stopPropagation()
                                                    })
                                                })
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                        <div class="dv-item-module ">

                                            <style type="text/css">

                                                .warning-new {
                                                    display: none;
                                                    position: fixed;
                                                    top: 50px;
                                                    left: 0;
                                                    width: 100%;
                                                    z-index: 1000;
                                                    padding: 10px;
                                                }

                                                    .warning-new .alert {
                                                        padding: 20px 30px;
                                                    }
                                            </style>
                                            <!--<h2>Đăng ký nhận tin</h2> -->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="warning-new text-center"><div class="warning-new text-center"><!-- Not delete --></div></div>
                                                </div>
                                            </div>
                                            <div class="newsletter-area">
                                                <div class="row">
                                                    <form action="http://05101.chilibusiness.net/" method="post">
                                                        <div class="form-group newsletters-info">
                                                            <label class="col-sm-12 control-label title-newsletters" for="input-firstname">Đăng ký nhận tin</label>
                                                            <div class="col-sm-12">
                                                                <input type="email" name="txtemail" id="txtemail" value="" placeholder="Nhập mail của bạn!" class="form-control input-lg newsletters-input">
                                                                <button type="submit" class="btn btn-lg newsletters-btn" onclick="return subscribe();">Đăng ký</button>
                                                            </div>

                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dv-item-module ">
                                            <div>
                                                <div class="all-social-icons">						<ul>							<li><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>							<li><a href="http://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>							<li><a href="http://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>							<li><a href="http://youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>						</ul>					</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </column>
        </div>
    </div>
    <div class="footer-bottom page_panel" id="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12 copyright">
                    <column class="position-display">
                        <div>
                            <div class="dv-builder-full">
                                <div class="dv-builder  ">
                                    <div class="dv-module-content">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                                <div class="dv-item-module ">
                                                    <div>
                                                        © 2015 Copyright by Sách hay – Số ĐKKD 1111 – Tại sở Kế Hoạch và Đầu Tư TP.HCM – (<a href="http://05101.chilibusiness.net/chinh-sach-rieng-tu.html" class="provision">Chính sách riêng tư</a>)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </column>
                </div>
                <div class="col-sm-4 col-xs-12 chili">
                    <div style="white-space:nowrap;display: block;overflow: hidden;">
                        <a style="color:#000000;font-size:12px;background: url(https://www.chili.vn/chili_vn_web_doanh_nghiep.png);
    background-repeat: no-repeat; background-position: right; padding-right: 37px;" target="_blank" href="https://www.chili.vn/kho-giao-dien-web-ban-hang">Thiết kế bởi</a>
                        <!--     <a target="_blank" style="border:0px; line-height:14px; font-size: 12px;overflow: hidden; " href="https://www.chili.vn"><img style="" src="https://www.chili.vn/chili_vn_web_doanh_nghiep.png" alt="Dịch vụ thiết kế web chuyên biệt dành cho Doanh Nghiệp, Shop Bán hàng và nhà Quảng Cáo" /></a> -->
                    </div>
                    <script type="text/javascript">
                        var _paq = _paq || [];
                        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
                        _paq.push(['trackPageView']);
                        _paq.push(['enableLinkTracking']);
                        (function () {
                            var u = "//tracking.chili.vn/";
                            _paq.push(['setTrackerUrl', u + 'piwik.php']);
                            _paq.push(['setSiteId', '1']);
                            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
                        })();
                    </script>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="IsnWs5Z-1535260157157" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; position: fixed !important; border: 0px !important; min-height: 0px !important; min-width: 0px !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: auto !important; height: auto !important; z-index: 2000000000 !important; cursor: auto !important; float: none !important; bottom: 0px !important; right: 0px !important; left: auto !important; display: block;"><iframe id="MNQU7t7-1535260157158" src="~/Scripts/Layout/saved_resource.html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: auto !important; bottom: auto !important; left: auto !important; position: static !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 320px !important; height: 400px !important; z-index: 999999 !important; cursor: auto !important; float: none !important; display: none !important;"></iframe><iframe id="Ef7t89m-1535260157159" src="~/Scripts/Layout/saved_resource(1).html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; position: fixed !important; border: 0px !important; padding: 0px !important; transition-property: none !important; z-index: 1000001 !important; cursor: auto !important; float: none !important; height: 66px !important; min-height: 66px !important; max-height: 66px !important; width: 62px !important; min-width: 62px !important; max-width: 62px !important; transform: rotate(0deg) translateZ(0px) !important; transform-origin: 0px center 0px !important; margin: 0px !important; top: auto !important; bottom: 10px !important; right: 15px !important; left: auto !important; display: block !important;"></iframe><iframe id="ZsIFT0J-1535260157159" src="~/Scripts/Layout/saved_resource(2).html" frameborder="0" scrolling="no" title="chat widget" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; position: fixed !important; border: 0px !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; display: none !important; z-index: 1000003 !important; cursor: auto !important; float: none !important; top: auto !important; bottom: 57px !important; right: 15px !important; left: auto !important; width: 62px !important; max-width: 62px !important; min-width: 62px !important; height: 22px !important; max-height: 22px !important; min-height: 22px !important;"></iframe><div id="a2qQqLN-1535260157156" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none rgb(255, 255, 255) !important; opacity: 0 !important; top: 1px !important; bottom: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: auto !important; height: 45px !important; display: block !important; z-index: 999997 !important; cursor: move !important; float: none !important; left: 0px !important; right: 96px !important;"></div><div id="eAblzXD-1535260157157" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: 96px !important; bottom: auto !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 6px !important; height: 100% !important; display: block !important; z-index: 999998 !important; cursor: w-resize !important; float: none !important;"></div><div id="IXUSUjf-1535260157157" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: 0px !important; bottom: auto !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 6px !important; height: 100% !important; display: block !important; z-index: 999998 !important; cursor: e-resize !important; float: none !important;"></div><div id="KPaDOjO-1535260157157" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: 0px !important; bottom: auto !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 6px !important; display: block !important; z-index: 999998 !important; cursor: n-resize !important; float: none !important;"></div><div id="jZP8bCC-1535260157157" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: 0px !important; bottom: 0px !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 6px !important; display: block !important; z-index: 999998 !important; cursor: s-resize !important; float: none !important;"></div><div id="noYtqvm-1535260157158" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: auto !important; bottom: auto !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999998 !important; cursor: nw-resize !important; float: none !important;"></div><div id="R4v4POf-1535260157158" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: 0px !important; bottom: auto !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999998 !important; cursor: ne-resize !important; float: none !important;"></div><div id="Son1eV0-1535260157158" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: auto !important; bottom: 0px !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999998 !important; cursor: sw-resize !important; float: none !important;"></div><div id="dThF0jm-1535260157158" class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: auto !important; right: 0px !important; bottom: 0px !important; left: auto !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 12px !important; height: 12px !important; display: block !important; z-index: 999999 !important; cursor: se-resize !important; float: none !important;"></div><div class="" style="outline: none !important; visibility: visible !important; resize: none !important; box-shadow: none !important; overflow: visible !important; background: none transparent !important; opacity: 1 !important; top: 0px !important; right: auto !important; bottom: auto !important; left: 0px !important; position: absolute !important; border: 0px !important; min-height: auto !important; min-width: auto !important; max-height: none !important; max-width: none !important; padding: 0px !important; margin: 0px !important; transition-property: none !important; transform: none !important; width: 100% !important; height: 100% !important; display: none !important; z-index: 1000001 !important; cursor: move !important; float: left !important;"></div></div>

